<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>再见了。</title>
</head>
<body>

<p>
    2018.12.01 日的相遇，让我相信了一见钟情。<br>
    2019.05.21 日的相爱，让我相信了坚持。<br>
    422天的相识，251天的相爱，我们发生了太多争吵和欢乐，也留下了太多回忆。<br>
    可能我们蚂蚁森林里的爱情树还没有种好，<br>
    可能你的小鸡还想来我的庄园蹭饭。<br>
    可能我还想和你去更多的地方走走。<br>
    可能你还想带我吃更多好吃的东西。<br>
    但，可惜，这些以后可能都实现不了了。<br>
    我不知道我们的在一起和分开哪个才是更正确的决定，<br>
    但是我想我会记得我们在一起的时光。<br>
    今天将你归还于人海，<br>
    希望你能好好生活，<br>
    以后学会好好爱人，<br>
    学会付出，学会迁就，学会偏爱，学会关心。<br>
    再见了，亲爱的。<br>
    <br>
    2020.01.28 <br>
    软件将无限期关闭
</p>

</body>
</html>