<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovezz.mapper.TbNoteMapper">

    <select id="selectNoteListAndUser" resultType="com.lovezz.entity.TbNote">
        select a.*,b.realname from tb_note a
        inner join tb_user b where a.userId = b.id
        and a.isDelete = 0 and a.userId in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
           #{item}
        </foreach>
        order by a.isComplete asc, a.date desc
        LIMIT #{offset}, #{limit}
    </select>
</mapper>
